body {
  margin: 0;
  padding: 0;

  margin: 0;
  z-index: -20;
  -webkit-background-size: cover;
  background-size: cover;
}
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  z-index: 10;
}
.main {
  display: flex;
  justify-content: center;
}
#clavier {
  margin-top: 2%;
  position: absolute;
  z-index: 0;
}

.responsive_keyboard {
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  visibility: hidden;
  border: 0;
  z-index: -100;
}
